:root{
    --main-size:3.125vw;
    --container-width:calc(100vw - 30px);
}
@media (min-width:576px){
    :root{
        --main-size:2.34vw;
        --container-width:510px;
    }
}
@media (min-width:768px){
    :root{
        --main-size:2vw;
        --container-width:690px;
    }

}
@media (min-width:992px){
    :root{
        --main-size:1.75vw;
        --container-width:930px;
    }
}
@media (min-width:1200px){
    :root{
        --main-size:1.5625vw;
        --container-width:1110px;
    }
}
body{
    font-family:Roboto;
    word-wrap:break-word;
    overflow:auto;
}
/* general */
button{
    cursor:pointer;
}
.ysb_btn{
    border:none;
    background:#f05824;
    border-radius:3px;    
    color:white;
    padding:5px 0px;
    margin-top:10px;
    border-bottom:2px solid #b64119;   
    display:inline-block;
}
.ysb_btn:hover{
    color:white;
    text-decoration:none;
    background:#d44b1c;
}
.gray_btn{
    background:#b7b7b7;
    border-bottom:2px solid #8d8d8d;
}
.gray_btn:hover{
    background:#9f9f9f;
}
.main_container{
    padding:20px 0;    
}
.breadcrumbs{
    color:#959596;
}
.breadcrumbs a{
    color:#41506d;
    text-decoration:underline;
}
.main_h{
    font-size:40px;
    text-align:center;
    font-weight:bold;
    margin-top:30px;
    color:#41506d;
    font-size:36px;
    margin:40px 0;
}
.main_p{
    color:black;
    font-size:18px;
    margin:40px 0;
}
.bimage{
    position:relative;
    width:100%;
    height:calc(3*(var(--container-width)/3 - 30px)/4);    
}
.btitle{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding:15px 0;
    margin-bottom:40px;
    margin-top:0;
}
.btitle a{
    color:black;
}
@media (max-width:992px){
    .bimage{
        height:calc(3*(var(--container-width) - 30px)/4);
        margin-top:calc(-3*(var(--container-width) - 30px)/4);
    }    
    .btitle .col-lg-0{
        text-align:center;
    }
    .btitle .fa-angle-down{
        font-size:40px;
        color:#f05824;
    }
}
.detail_btn{
    border-radius:3px;
    border:1px solid #7f7f7f;
    color:#7f7f7f;
    padding:5px 0px;
    font-size:15px;
    display:inline-block;
}
.gray_h{
    color:#7f7f7f;
}
.detail_btn:hover{
    color:#7f7f7f;
}
.color_blue{
    color:#41506d;
}
.green_btn{
    background:#40a521;
    border-bottom:2px solid #2d601d;
}
.green_btn:hover{
    background:#3b971e;
}
.free-th{
    text-align:center;
}
.free-th img{
    width:40%;
}
.map{
    
    position:relative;   
    
}
.map>*{
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    display:block;
}
@media (max-width:992px){    
    .map{        
        height:40vh;
        width:calc(var(--container-width));
    }       
}
.slick-prev.inside{
    left:15px;
    top:40%;
    background:rgba(212,214,217,0.6);    
}
.slick-next.inside{
    right:15px;
    top:40%;
    background:rgba(212,214,217,0.6);    
}
.slick-dots{
    list-style-type:none;
    text-align:center;
    padding:0;
    margin:0;
    margin-top:10px;
}
.slick-dots li{
    display:inline-block;
    margin:5px;
}
.slick-dots li.slick-active button{
    background:#f05824;
}
.slick-dots li button{
    color:rgba(0,0,0,0);
    padding:0;
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:100%;
    background:none;
    border:2px solid #f05824;
    outline:none;
    
}
.ysb_blue{
    background:#41506d;
    border-bottom:2px solid #2e384a;
}
.ysb_blue:hover{
    background:#38455e;
}
.popup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:100;    
}
.input_block{
    position:relative; 
    margin-bottom:30px;    
}
.input_block label{
    position:absolute;
    font-size:12px;
    top: 5px;
    left:25px;
    color:#a7a7a7;
}

.input_block select,.input_block input
 {
    color:#41506d;
    width:100%;
    padding:20px 20px 5px 20px;
    border: 2px solid #969696;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width:100%;
    font-size:20px;  
     outline:none;
     box-shadow:none;
}

.input_block select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 1.2em top 50%, 0 0;
    background-size: .80em auto, 100%;      
}
.input_block .select:before{
    position:absolute;
    content:'';
    border-left:2px solid #7f7f7f;
    height:100%;
    width:3em;
    right:0;
    top:0;
}
.policy_agree input[type="radio"]:checked,
.policy_agree input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.policy_agree input[type="radio"]:checked + label,
.policy_agree input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.policy_agree input[type="radio"]:checked + label:before,
.policy_agree input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #9d9d9d;
    border-radius: 100%;
    background: #fff;
}
.policy_agree input[type="radio"]:checked + label:after,
.policy_agree input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F05824;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.policy_agree input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.policy_agree input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.policy_agree label span {
    user-select: none;
}
.order_form .order_form-main .selects select:hover {
    border-color: #888;
}

.order_form .order_form-main .selects select:focus {
    border-color: #58D332;
    color: #222; 
    outline: none;
}
.form_button{
    border:none;
    background:#c3c7cb;
    color:white;
    font-weight:bold;
    width:100%;
    padding: 15px 0 ;
    border-radius:5px;
    font-size:20px;
    margin-bottom:40px;
}
.policy_agree .round{
    width:25px;
    height:25px;
    border:2px solid #a7a7a7;
    border-radius:100%;
    float:left;
    margin-top:10px;
    
}
.policy_agree .round span{
    width:80%;
    height:80%;
    border-radius:100%;
    background:#f05824;
    display:inline-block;
    margin:10%;
    display:none;
}
.policy_agree p{
    float:left;
    margin:0;
    margin-left:20px;
    width:calc(90% - 25px - 20px);    
}

/* Header */
#navbar{
    border-bottom:2px solid #c3c7cb;
    padding:30px 0 ;
    background:white;
    
    padding:10px;
}
.navbar-brand{
    display:block;
    width:100%;    
}
.navbar-brand  img{
    width:100%;
    
}
#navigation{
    padding:0;
    margin:0!important;
}
#navigation .nav-link{
    color:black;
    font-size:16px;
}
.menu_mob{
    background:#f05824;
    box-shadow:0 5px 5px rgba(0,0,0,0.5);
    padding:5px 0;
}
.menu_mob .fa-bars{
    color:white;
    font-size:36px;
}
.menu_mob ul{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
    display:none;
}
.menu_mob .nav-link{
    color:white;
}
.contact_tel{
    color:black;
    font-size:16px;    
    text-align:center;
}
.lang_btns a{
    font-weight:bold;
    font-size:18px;
    color:#c3c7cb;
    margin:0 5px;
}
.lang_btns a.active{
    text-decoration:underline;
    color:#f05824;
}
.lang_select{
    border:1px solid gray;
    padding:5px;
    display:inline-block;
}
.lang_select img{
    display:block;    
}
.lang_select i{
    font-size:14px;
}

.oth_langu img{
    margin-bottom:5px;
}

/* 404 */
#bl_404{    
    padding:50px 0 ;
}
#bl_404 h2{
    color:#41506d;
    font-size:36px;
}
#bl_404 h3{
    color:#41506d;
    font-size:26px;
}
.btn_404{
    margin:30px;
    font-size:18px;
    padding:5px 25px;
}
.socials{
    margin-bottom:20px;
}
.socials .ysb_btn i {
    display:inline-block;
}
.socials .ysb_btn{
    font-size:30px;
    width:45px;
    height:45px;
    margin:10px;
}
.dropdown-menu{
    width:100%!important;
    min-width:auto;
    text-align:center;
}
#lang_btn.btn{
    outline:none;
    border-radius:0;
    box-shadow:none;
    background:none;
    border:1px solid #c3c7cb;
}
.dropdown-toggle::after{
    
}
#lang_btn.btn:focus{
    outline:none;
    box-shadow:none;
}
/* footer */
footer{
    padding:50px;
    background: #2c3e50;
    color:#dcdcdc;
    font-size:18px;
}
footer a{
    color:#dcdcdc;
}
footer a:hover{
    color:#dcdcdc;
}
.footer_p p{
    padding:0;
    margin:0;
}
.footer_p{
    padding:7px 0;
}
.footer_socials a{
    display:inline-block;
    font-size:18px;
    color:#dcdcdc;
    margin:0 5px;
}
.footer_nav{
    list-style-type:none;
    margin:0;
    padding:0;    
}
.footer_nav li{
    margin:17px 0;
}
.footer_nav a{
    color:#dcdcdc;    
}
.footer_logo{
    width:50%;
}
.full_version{
    text-transform: uppercase;
    font-size:14px;
}
@media (max-width:920px){
    .footer_logo{
        width:100%;
    }
}


/* blog */
.new{
    padding:20px 3px;
    border-bottom:2px solid #c3c7cb;   
    font-size:18px;
}
.new_title a{
    color: black;
    font-weight:bold;
}
.new_date{
    color:#7f7f7f;
}
.pagination{
    display:block;
    list-style-type:none;
    padding:none;
    margin:none;
    text-align:center;
    padding:50px 0 ;
}
.pagination li{
    display:inline-block;    
    margin:0;
    padding:0;
}
.pagination li:first-child a{
    border-radius:5px 0 0 5px;
}
.pagination li:last-child a{
    border-radius:0 5px 5px 0;
}
.pagination a{
    margin-left: -.36em;
    display:inline-block;
    padding:8px;
    border:1px solid #c3c7cb;
    color:#4c5a76;
    font-weight:normal;
}
#contact_container{
    padding:50px 0 ;
}
#contact_container h3{
    font-size:30px;
    color:#41506d;
    font-weight:bold;
}
#contact_container .footer_p a{
    color:black;
}
@media (max-width:920px){
    #contact_container{
        text-align:center;
    }
}

/*forhome forbusiness*/

#boxes .row>div{
    overflow:hidden;
}
@media (max-width:992px){
    #boxes .btitle{
        text-align:left;
        background:white;
        padding:15px;
        border-radius:5px;
    }
}
.hover_img_block{
    display:none;
    position:absolute;
    text-align:center;
    background:rgba(255,255,255,0.75);
    bottom:0;
    left:0;
    width:100%;
    transition:0.5s;
    padding:10px 0;
}
.bimage:hover .hover_img_block{
    display:block;
} 
.hover_img_block a{
    width:45%;
}

h4.btitle{
    font-size:16px;
}
.spec{
    text-align:center;
}
.spec img{
    width:40%;
}
.feedback_slider .rate{
    padding:10px 0;
    text-align:center;
}
.feedback_slider .fa-star{
    color:#f05824;
}
.feedback p{
    padding:10px 0;
    font-size:16px;
    text-align:center;
    height:auto;
}
.slick-slide{
    height:auto!important;
}
.feedback{
    background:white;
    margin:10px;
    padding:40px;
    position:relative;
    min-height: 500px !important;
}
.slick-prev,.slick-next{
    position:absolute;
    top:45%;
    z-index:2;    
    display:inline-block;
    padding:10px 15px;
    font-size:20px;
    border-radius:100%;
    background:#d4d6d9;
    color:white;
}
.slick-prev{
    left:-50px;
}
.slick-next{
    right:-50px;
}
.home_img{
    width:calc(var(--container-width));
    height:calc((var(--container-width))/2);
    position:relative;
    
}
.home_image_det{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    padding:15px 40px;
    text-align:center;
    background:rgba(255,255,255,0.5);
}
.home_cont .ysb_btn{
    padding:5px 15px;
}
.home_image_det h3{
    font-size:24px;
    color:#41506d;
    font-weight:bold;
}
@media (max-width:992px){
    .home_img{
        width:100%;
        height:70vw;
    }
}
/*Containers and storages*/
.params_containers{
    color:#7f7f7f;
    padding:20px 0;
    font-size:18px;
}
.containers_one{
    margin:15px 0;
}
.container_info{
    background:white;
    padding:30px;
}
.container_info h3{
    font-weight:bold;
    font-size:22px;
    margin:0;    
}
.container_info h4.cont_time{
    font-size:16px;
    font-weight:normal;
    color:#7f7f7f;
}
.container_info .cont_image{
    width:100%;
    height:calc((var(--container-width)/2 - 60px)/3);
}
.container_info .cont_pref{
    text-align:center;
}
.container_info .cont_pref img{
    width:20%;
    margin:0 1%;
}
.p_cont{
    font-size:14px;
    color:black;
    margin-bottom:12px;
}
.price_cont{
    margin-bottom:5px;
    font-size:16px;
    font-weight:bold;
    color:#41506d;
}
.container_info .ysb_btn{
    padding:5px 20px;
}
.main_cont_info{
    margin-top:20px;
}
@media (max-width:992px){
    .container_info h3,.container_info h4{
        text-align:center;
    }
    .container_info .cont_image{
        height:calc(var(--container-width)/2);
    }
    .container_info{
        text-align:center;
    }
    .container_info .cont_pref img{
        width:7%;
        margin:0 1%;
    }    
    .p_cont{
        font-size:18px;
    }    
}

/*Article*/
.article{
    font-size:14px;
}
.article p{
    font-size:14px;
    margin-bottom:20px;
}
.article h3{
    font-size:22px;
    margin-bottom:20px;
    color:#41506d;
}
.article ul{
    list-style-type:none;
}
.article ul li{
    position:relative;
    margin-bottom:20px;
}
.article ul li:before{
    position:absolute;
    content:'';
    width:15px;
    height:15px;
    background:#f05824;
    border-radius:100%;
    left: -30px;
    top:0;
}
.article ol li{
    margin-bottom:20px;
}
.article_image{
    width:100%;
    height:calc((var(--container-width)/3 - 30px)/1.4);
    margin-bottom:40px;
}
@media (max-width:992px){
    .article_image{
        width:100%;
        height:calc((var(--container-width) - 30px)/1.4)!important;
        margin-bottom:0;
    }
    .article-slider{
        margin-top:20px;
    }
}

.article_buttons{
    text-align:center;
}
.article_buttons .ysb_btn{
    width:200px;
    margin:0 10px;
    font-size:18px;
}

.article_big_image{
    width:100%;
    height:calc((var(--container-width) - 30px)/2);
}
/* Thank */
.thank{
    padding-top:80px;
    text-align:center;    
}
.thank h2{
    font-size:30px;
    font-weight:bold;
    color:#3ea11f;
}
.thank img{
    width:50px;
    margin-top:30px;
}

/*About*/
.about_info{
    font-weight:600;
}
.about_slider_image{
    width:100%;
    height:calc((var(--container-width)/2 -30px)/1.5)!important;
}
.about_box_slide{
    margin:0 15px;
}
.about_box_slide h3{
    text-align:center;
    font-size:20px;
    margin-top:20px;
}
.about_box_image{
    width:100%;    
    height:calc(((var(--container-width)*3/4 -30px)/3 - 30px)/1.25);
}
.about_box_slider .slick-prev,.about_box_slider .slick-next{
    top:calc(((var(--container-width)*3/4 -30px)/3 - 30px)/2.5 - 15px);
}
.about_box_slider .slick-prev{
    left:20px;
}
.about_box_slider .slick-next{
    right:20px;
}
/*price*/
.price_desc h3{
    font-weight:bold;
    text-align:center;
    font-size:24px;
}
.price_btn{
    text-align:center;
    margin:10px 0;
}
.price_btn label{
    display:inline-block;
    width:80%;
    padding:5px;
    border-radius:5px;
    border:2px solid #d8dadd;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    color:#41506d;
}
.price_btn input{
    left:-9999999px;
    position:absolute;
}
.price_btn input[type="radio"]:checked + label{
    background:white;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
    color:#f05824;
}
.find_price{
    background:white;
    padding:15px 30px;
    width:70%;
    text-align:center;
    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.2);
    border-radius:5px;
}
.find_price h4{
    font-size:20px;
    margin-bottom:40px;
}
.find_price p{
    font-size:16px;
    margin-bottom:40px;
}
.find_price .ysb_btn{
    width:50%;
}
.price_block .price_block_info{
    background:white;
}
.price_block .head_price_info{
    padding:15px 30px;
}
.price_block .head_price_info h4{
    font-size:20px;
}
.price_block .head_price_info h5{
    font-size:14px;
    color:#7f7f7f;
}
.head_price_info a{
    font-size:14px;
    color:#5899e4;
    text-decoration:underline;
}
.price_one_item{
    padding:15px 30px;
    border-top:2px solid #c3c7cb;
}
.price_one_item .square{
    color:#41506d;
    font-weight:bold;
    font-size:18px;
}
.price_one_item .detail{
    color:#7f7f7f;
    font-size:14px;
    margin:0;
}
.price_one_item .price{
    color:#f05824;
    font-weight:bold;
    font-size:18px;
}
.price_one_item .ysb_btn{
    width:85%;
    text-align:center;
}
.price_block{
    margin-top:30px;
}
.pos_ul,.neg_ul{
    padding-left:40px;
    list-style-type:none;    
}
.pos_ul li,.neg_ul li{
    margin:5px 0;
    color:#7f7f7f;
    font-size:18px;
    position:relative;
}
.pos_ul li:before,.neg_ul li:before{
    position:absolute;
    left:-40px;
    top:0;
    content:'';
    width:18px;
    height:18px;
}
.pos_ul li:before{
    background:url('../img/check-mark.png') center;
    background-size:cover;
}
.neg_ul li:before{
    background:url('../img/delete.png') center;
    background-size:cover;
}
.pref_price_h{
    font-size:20px;
    font-weight:bold;
    margin-bottom:30px;
}

.popup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:100;    
}
.thank_message{
    border-radius:5px;
    border:2px solid #c3c7cb;
    background:white;
    width:360px;
    position:relative;
}
.thank_message:before{
    position:absolute;
    content:'';
    top:-25px;
    right:-25px;
    width:20px;
    height:20px;
    background:url('../img/delete_wh.png');
    background-size:cover;
}
.thank_message>div{
    padding:15 30px;
}
.thank_message_head{
    border-bottom:3px solid #c3c7cb;
}
.thank_message_head h3{
    text-align:center;
    font-weight:bold;
    font-size:24px;
    color:#41506d;
}
.thank_message_body{
    text-align:center;
}
.thank_message_body p{
    text-align:center;    
    font-size:16px;
    margin:0;
}
.thank_message_body .ysb_btn{
    width:50%;
}
/*book form*/
.book_form{
    background:white;
    padding:15px;
    border-radius:5px;  
    position:relative;
    width:60%;    
}
.book_form .exit_image{
    position:absolute;
    content:'';
    top:-25px;
    right:-25px;
    width:20px;
    height:20px;
    background:url('../img/delete_wh.png');
    background-size:cover;
}
.main_book_form{
    border-radius:5px;
    border:2px solid #41506d;
    padding:50px;
    padding-bottom:10px;
}
.main_book_form h2{
    font-size:30px;
    color:black;
    font-weight:900;
}
/* mainpage*/
.mainpage_slider{
    margin:30px 0 ;
}
.slide_main_block{
    padding:30px 0;    
}
.slide_main_block h2{
    font-size:40px;
    font-weight:bold;
    color:#41506d;
}
.slide_main_block h3{
    font-size:30px;
    font-weight:bold;
    width:50%;
    margin-bottom:130px;
}
.mainpage_p{
    font-size:24px;
    color:black;
    font-weight:bold;
}
.mainpage_p span{
    color:#41506d;
}
.mainpage_street{
    color:black;
    font-size:16px;
}
.mainpage_street span{
    background:#a7a7a7;
    width:10px;
    height:10px;
    border-radius:100%;
    display:inline-block;
    margin-left:20px;
}
.data_mainpage{
    margin-bottom:130px;
}
.mainpage .ysb_btn{
    padding:10px 50px;
    font-size:18px;    
}
.see_stor{
    font-size:24px;
    color:#41506d;
    text-decoration:underline;
}
@media (max-width:920px){
    .data_mainpage{
        margin-bottom:20px;
    }
    .slide_main_block h3{
        width:100%;
    }
}
.find_price.out_of_bounds{
    position:absolute;
    bottom:-320px;
    z-index:99;
}
.price_desc .d-none{
    position:relative;
}
.find_price_inp{
    width:100%;
    margin-bottom:10px;
    font-size:14px;
    border-radius:5px;
    border:1px solid #a7a7a7;
    padding:5px 15px;
    outline:none;
}
/*storage*/
.about_container{
    font-weight:bold;
    font-size:16px;
}
.about_container .ysb_btn{
    padding:5px 30px;
    font-weight:normal;
    margin:20px 0;
}
.cont_btn{
    padding:5px 30px;
    border:1px solid #a7a7a7;
    color:#41506d;
    font-size:16px;
    display:inline-block;
    margin:20px 0;
    border-radius:3px;
}
.cont_btn:hover{
    color:#41506d;
}
.storage_h{
    font-size:24px;
    padding-top:30px;
    border-top:2px solid #c3c7cb;
    font-weight:bold;
}
.metro_round{
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:20px;
    border-radius:100%;
}
.orange_round{ background:#f05824;}
.blue_round{ background:#0069b4;}
.green_round{ background:#297825;}
.storage_map{
    width:100%;
    position:relative;   
    height:100%;
}
.storage_map>*{
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    display:block;
}
.pref_cont img{
    height:30px;    
}
.pref_cont .img_cont{
    width:30px;
    height:30px;
    text-align:center;
    display:inline-block;
    margin-right:20px;
}
.pref_cont{
    font-size:16px;
    font-weight:bold;
}
.pref-slider{
    width:100%;
}
.pref_image{
    width:100%;
    height:calc((var(--container-width)/2 - 30px)/1.4)!important;
}
@media (max-width:920px){
    .pref_image{
        height:calc((var(--container-width) - 30px)/1.4)!important
    }
}
.type_stor_img{
    width:100%;
    height:calc((var(--container-width)/3 - 30px)/1.3)!important;
}
@media (max-width:920px){
    .type_stor_img{
        height:calc((var(--container-width)/2 - 30px)/1.3)!important
    }
}
.storage_type{
    margin-top:30px;
}
.storage_h{
    font-size:18px;
    text-align:center;
    margin:0;
    padding:0;
    padding-top:10px;
    color:#4a4a4a;
    font-weight:normal;
}
/* Orders pages */
.order_content {
    background-color: #F7F7F7;
}

.order_form {
    max-width: 550px;
    margin: 36px auto;
}

.order_form .order_form-input {
    display: block;
    margin: 16px auto;
    width: 250px;
}

.order_form .order_form-main,
.order_form .order_form-result {
    padding: 30px 50px;
    background-color: #fff;
}

.order_form .order_form-main {
    border-bottom: 2px solid #D2D5D8;
}

.order_form .order_form-main .checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order_form .order_form-main .checkboxes .checkboxes-item {
    margin: 0 10px;
}

.order_form .order_form-main .checkboxes input[type="radio"]:checked,
.order_form .order_form-main .checkboxes input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.order_form .order_form-main .checkboxes input[type="radio"]:checked + label,
.order_form .order_form-main .checkboxes input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.order_form .order_form-main .checkboxes input[type="radio"]:checked + label:before,
.order_form .order_form-main .checkboxes input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #9d9d9d;
    border-radius: 100%;
    background: #fff;
}
.order_form .order_form-main .checkboxes input[type="radio"]:checked + label:after,
.order_form .order_form-main .checkboxes input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F05824;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.order_form .order_form-main .checkboxes input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.order_form .order_form-main .checkboxes input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.order_form .order_form-main .checkboxes label span {
    user-select: none;
}

.order_form .order_form-main .selects select,
.order_form .order_form-main .selects input[type="date"] {
    color: #444;
    padding: .6em 1.4em .5em .8em;
    border: 2px solid #969696;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.order_form .order_form-main .selects select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.order_form .order_form-main .selects select:hover {
    border-color: #888;
}

.order_form .order_form-main .selects select:focus {
    border-color: #58D332;
    color: #222; 
    outline: none;
}

.order_steps {
    padding: 80px 0;
}

.order_steps .wrapper {
    max-width: 550px;
    margin: 0 auto;
}

.order_steps .wrapper .header,
.order_steps .wrapper .progress_bar,
.order_steps .wrapper .desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_steps .wrapper .header {
    margin-bottom: 16px;
}
.order_steps .header span{
    color:#a7a7a7;
    font-size:16px;
}

.order_steps .wrapper .progress_bar {
    position: relative;
    margin: 0 12px;
}

.order_steps .wrapper .progress_bar:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    z-index: -2;
    background-color: #969696;
    position: absolute;
}

.order_steps .wrapper .progress_bar .item {
    width: 20px;
    height: 20px;
    border: 2px solid #969696;
    border-radius: 100%;
    position: relative;
    background-color: #fff;
}

.order_steps .wrapper .progress_bar .item.active:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #F05824;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
}

.order_steps .wrapper .desc {
    margin-top: 16px;
}
.order_steps .desc span{
    font-size:20px;
    color:black;
}
.order_steps .desc span.active{
    font-weight:bold;
}
.order_content .order_h{
    font-weight:bold;
    color:#7f7f7f;
    font-size:24px;
    padding-top:25px;
}
.order_form-result p {
    font-weight:bold;
    font-size:20px;
}
.order_form-result span{
    font-size:18px;
}
.order_form-footer .ysb_btn{
    width:50%;
    padding:15px 0!important;
    margin-top:50px;
    font-size:22px;
}
.order_form-step2 .order_form-main  .order_form-input{
    padding:10px;
    width:100%;
    border-radius:5px;
    border:1px solid #7f7f7f;
    resize:none;
    outline:none;
    box-shadow:none;
}
.order_form-step2 .order_form-main{
    width:100%;
}
.order_form-step2 .order_form-input{
    margin:15px 0;
    width:100%;
}
.order_form-footer .goback_btn{
    width:37.5%;
    padding:15px 0!important;
    margin-top:50px;
    font-size:22px;
    border-radius:5px;
    border:2px solid #a7a7a7;
    display:inline-block;
    color:#a7a7a7;    
}
.order_last_m{
    padding:30px;
    background:white;
    width:calc(50% - 60px);
    margin:0 auto;
    border-radius:5px;
    margin-bottom:30px;
}
.order_last_m p{
    margin-top:30px;
    font-size:18px;
    margin-bottom:60px;
}
.order_last_m .ysb_btn{
    margin-bottom:50px;
    width:66.7%;
    font-size:24px;
    padding:10px 0 ;
}
.order_last_m .download{
    color:#7f7f7f;
    font-size:20px;
    text-decoration:underline;
}
@media (max-width:920px){
    .order_last_m{
        width:80%;
    }
}