:root{
    --main-size:3.125vw;
    --container-width:calc(100vw - 30px);
}
@media (min-width:576px){
    :root{
        --main-size:2.34vw;
        --container-width:510px;
    }
}
@media (min-width:768px){
    :root{
        --main-size:2vw;
        --container-width:690px;
    }

}
@media (min-width:992px){
    :root{
        --main-size:1.75vw;
        --container-width:930px;
    }
}
@media (min-width:1200px){
    :root{
        --main-size:1.5625vw;
        --container-width:1110px;
    }
}
body{
    font-family:Roboto;
}
#navbar{
    border-bottom:2px solid #c3c7cb;
    padding:30px 0 ;
    background:white;
}
#navigation{
    padding:0;
    margin:0!important;
}
#navigation .nav-link{
    color:black;
    font-size:16px;
}
.menu_mob{
    background:#f05824;
    box-shadow:0 5px 5px rgba(0,0,0,0.5);
    padding:5px 0;
}
.menu_mob .fa-bars{
    color:white;
    font-size:36px;
}
.menu_mob ul{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
    display:none;
}
.menu_mob .nav-link{
    color:white;
}
.contact_tel{
    color:black;
    font-size:16px;    
    text-align:center;
}
.ysb_btn{
    border:none;
    background:#f05824;
    border-radius:3px;    
    color:white;
    padding:5px 0px;
    margin-top:10px;
    border-bottom:2px solid #b64119;   
    display:inline-block;
}
.ysb_btn:hover{
    color:white;
    text-decoration:none;
}
#bl_404{    
    padding:50px 0 ;
}
#bl_404 h2{
    color:#41506d;
    font-size:36px;
}
#bl_404 h3{
    color:#41506d;
    font-size:26px;
}
.btn_404{
    margin:30px;
    font-size:18px;
    padding:5px 25px;
}
.gray_btn{
    background:#b7b7b7;
    border-bottom:2px solid #8d8d8d;
}
.socials{
    margin-bottom:20px;
}
.socials .ysb_btn i {
    display:inline-block;
}
.socials .ysb_btn{
    font-size:30px;
    width:45px;
    height:45px;
    margin:10px;
}
footer{
    padding:50px;
    background: #2c3e50;
    color:#dcdcdc;
    font-size:18px;
}
footer a{
    color:#dcdcdc;
}
footer a:hover{
    color:#dcdcdc;
}
.footer_p p{
    padding:0;
    margin:0;
}
.footer_p{
    padding:11px 0;
}
.footer_socials a{
    display:inline-block;
    font-size:18px;
    color:#dcdcdc;
    margin:0 5px;
}
.footer_nav{
    list-style-type:none;
    margin:0;
    padding:0;    
}
.footer_nav li{
    margin:17px 0;
}
.footer_nav a{
    color:#dcdcdc;    
}
.main_container{
    padding:30px 0;
}
.breadcrumbs{
    color:#959596;
}
.breadcrumbs a{
    color:#41506d;
    text-decoration:underline;
}
.main_h{
    font-size:40px;
    text-align:center;
    font-weight:bold;
    margin-top:30px;
}
.new{
    padding:20px 3px;
    border-bottom:2px solid #c3c7cb;   
    font-size:18px;
}
.new_title a{
    color: black;
    font-weight:bold;
}
.new_date{
    color:#7f7f7f;
}
.pagination{
    display:block;
    list-style-type:none;
    padding:none;
    margin:none;
    text-align:center;
    padding:50px 0 ;
}
.pagination li{
    display:inline-block;    
    margin:0;
    padding:0;
}
.pagination li:first-child a{
    border-radius:5px 0 0 5px;
}
.pagination li:last-child a{
    border-radius:0 5px 5px 0;
}
.pagination a{
    margin-left: -.36em;
    display:inline-block;
    padding:8px;
    border:1px solid #c3c7cb;
    color:#4c5a76;
    font-weight:normal;
}
#contact_container{
    padding:50px 0 ;
}
#contact_container h3{
    font-size:30px;
    color:#41506d;
    font-weight:bold;
}
#contact_container .footer_p a{
    color:black;
}
.main_p{
    color:black;
    font-size:18px;
    margin:40px 0;
}
h2.main_h{
    font-size:36px;
    margin:40px 0;
}
.bimage{
    position:relative;
    width:100%;
    height:calc(3*(var(--container-width)/3 - 30px)/4);
    transition:0.5s;
}
.detail_btn{
    border-radius:3px;
    border:1px solid #7f7f7f;
    color:#7f7f7f;
    padding:5px 0px;
    font-size:15px;
    display:inline-block;
}
.detail_btn:hover{
    color:#7f7f7f;
}
.hover_img_block{
    display:none;
    position:absolute;
    text-align:center;
    background:rgba(255,255,255,0.75);
    bottom:0;
    left:0;
    width:100%;
    transition:0.5s;
}
.bimage:hover .hover_img_block{
    display:block;
} 
.hover_img_block a{
    width:45%;
}
.btitle{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding:15px 0;
    padding-bottom:40px;
}
h4.btitle{
    font-size:16px;
}
.spec{
    text-align:center;
}
.spec img{
    width:40%;
}
.feedback_slider .rate{
    padding:10px 0;
    text-align:center;
}
.feedback_slider .fa-star{
    color:#f05824;
}
.feedback p{
    padding:10px 0;
    font-size:16px;
    text-align:center;
    height:auto;
}
.slick-slide{
    height:auto!important;
}
.feedback{
    background:white;
    margin:10px;
    padding:40px;
    position:relative;
}
.slick-prev,.slick-next{
    position:absolute;
    top:50%;
    z-index:2;    
    display:inline-block;
    padding:10px 15px;
    font-size:20px;
    border-radius:100%;
    background:#d4d6d9;
    color:white;
}
.slick-prev{
    left:-50px;
}
.slick-next{
    right:-50px;
}
.free-th{
    text-align:center;
}
.free-th img{
    width:40%;
}