:root{
    --main-size:3.125vw;
    --container-width:calc(100vw - 30px);
}
@media (min-width:576px){
    :root{
        --main-size:2.34vw;
        --container-width:510px;
    }
}
@media (min-width:768px){
    :root{
        --main-size:2vw;
        --container-width:690px;
    }

}
@media (min-width:992px){
    :root{
        --main-size:1.75vw;
        --container-width:930px;
    }
}
@media (min-width:1200px){
    :root{
        --main-size:1.5625vw;
        --container-width:1110px;
    }
}
body{
    font-family:Roboto;
    word-wrap:break-word;
    overflow:auto;
}
#navbar{
    border-bottom:2px solid #c3c7cb;
    padding:30px 0 ;
    background:white;
}
#navigation{
    padding:0;
    margin:0!important;
}
#navigation .nav-link{
    color:black;
    font-size:16px;
}
.menu_mob{
    background:#f05824;
    box-shadow:0 5px 5px rgba(0,0,0,0.5);
    padding:5px 0;
}
.menu_mob .fa-bars{
    color:white;
    font-size:36px;
}
.menu_mob ul{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
    display:none;
}
.menu_mob .nav-link{
    color:white;
}
.contact_tel{
    color:black;
    font-size:16px;    
    text-align:center;
}
.ysb_btn{
    border:none;
    background:#f05824;
    border-radius:3px;    
    color:white;
    padding:5px 0px;
    margin-top:10px;
    border-bottom:2px solid #b64119;   
    display:inline-block;
}
.ysb_btn:hover{
    color:white;
    text-decoration:none;
}
#bl_404{    
    padding:50px 0 ;
}
#bl_404 h2{
    color:#41506d;
    font-size:36px;
}
#bl_404 h3{
    color:#41506d;
    font-size:26px;
}
.btn_404{
    margin:30px;
    font-size:18px;
    padding:5px 25px;
}
.gray_btn{
    background:#b7b7b7;
    border-bottom:2px solid #8d8d8d;
}
.socials{
    margin-bottom:20px;
}
.socials .ysb_btn i {
    display:inline-block;
}
.socials .ysb_btn{
    font-size:30px;
    width:45px;
    height:45px;
    margin:10px;
}
footer{
    padding:50px;
    background: #2c3e50;
    color:#dcdcdc;
    font-size:18px;
}
footer a{
    color:#dcdcdc;
}
footer a:hover{
    color:#dcdcdc;
}
.footer_p p{
    padding:0;
    margin:0;
}
.footer_p{
    padding:11px 0;
}
.footer_socials a{
    display:inline-block;
    font-size:18px;
    color:#dcdcdc;
    margin:0 5px;
}
.footer_nav{
    list-style-type:none;
    margin:0;
    padding:0;    
}
.footer_nav li{
    margin:17px 0;
}
.footer_nav a{
    color:#dcdcdc;    
}
.main_container{
    padding:40px 0;
    overflow:hidden;
}
.breadcrumbs{
    color:#959596;
}
.breadcrumbs a{
    color:#41506d;
    text-decoration:underline;
}
.main_h{
    font-size:40px;
    text-align:center;
    font-weight:bold;
    margin-top:30px;
    color:#41506d;
}
.new{
    padding:20px 3px;
    border-bottom:2px solid #c3c7cb;   
    font-size:18px;
}
.new_title a{
    color: black;
    font-weight:bold;
}
.new_date{
    color:#7f7f7f;
}
.pagination{
    display:block;
    list-style-type:none;
    padding:none;
    margin:none;
    text-align:center;
    padding:50px 0 ;
}
.pagination li{
    display:inline-block;    
    margin:0;
    padding:0;
}
.pagination li:first-child a{
    border-radius:5px 0 0 5px;
}
.pagination li:last-child a{
    border-radius:0 5px 5px 0;
}
.pagination a{
    margin-left: -.36em;
    display:inline-block;
    padding:8px;
    border:1px solid #c3c7cb;
    color:#4c5a76;
    font-weight:normal;
}
#contact_container{
    padding:50px 0 ;
}
#contact_container h3{
    font-size:30px;
    color:#41506d;
    font-weight:bold;
}
#contact_container .footer_p a{
    color:black;
}
@media (max-width:920px){
    #contact_container{
        text-align:center;
    }
}
.main_p{
    color:black;
    font-size:18px;
    margin:40px 0;
}
h2.main_h{
    font-size:36px;
    margin:40px 0;
}

.bimage{
    position:relative;
    width:100%;
    height:calc(3*(var(--container-width)/3 - 30px)/4);    
}
.btitle{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding:15px 0;
    margin-bottom:40px;
    margin-top:0;
}
#boxes .row>div{
    overflow:hidden;
}
@media (max-width:992px){
    .bimage{
        height:calc(3*(var(--container-width) - 30px)/4);
        margin-top:calc(-3*(var(--container-width) - 30px)/4);
    }
    .btitle{
        text-align:left;
        background:white;
        padding:15px;
        border-radius:5px;
    }
    .btitle .col-lg-0{
        text-align:center;
    }
    .btitle .fa-angle-down{
        font-size:40px;
        color:#f05824;
    }
}
.detail_btn{
    border-radius:3px;
    border:1px solid #7f7f7f;
    color:#7f7f7f;
    padding:5px 0px;
    font-size:15px;
    display:inline-block;
}
.detail_btn:hover{
    color:#7f7f7f;
}
.hover_img_block{
    display:none;
    position:absolute;
    text-align:center;
    background:rgba(255,255,255,0.75);
    bottom:0;
    left:0;
    width:100%;
    transition:0.5s;
    padding:10px 0;
}
.bimage:hover .hover_img_block{
    display:block;
} 
.hover_img_block a{
    width:45%;
}

h4.btitle{
    font-size:16px;
}
.spec{
    text-align:center;
}
.spec img{
    width:40%;
}
.feedback_slider .rate{
    padding:10px 0;
    text-align:center;
}
.feedback_slider .fa-star{
    color:#f05824;
}
.feedback p{
    padding:10px 0;
    font-size:16px;
    text-align:center;
    height:auto;
}
.slick-slide{
    height:auto!important;
}
.feedback{
    background:white;
    margin:10px;
    padding:40px;
    position:relative;
}
.slick-prev,.slick-next{
    position:absolute;
    top:45%;
    z-index:2;    
    display:inline-block;
    padding:10px 15px;
    font-size:20px;
    border-radius:100%;
    background:#d4d6d9;
    color:white;
}
.slick-prev{
    left:-50px;
}
.slick-next{
    right:-50px;
}
.free-th{
    text-align:center;
}
.free-th img{
    width:40%;
}
.home_img{
    width:calc(var(--container-width));
    height:calc((var(--container-width))/2);
    position:relative;
    
}
.home_image_det{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    padding:15px 40px;
    text-align:center;
    background:rgba(255,255,255,0.5);
}
.home_cont .ysb_btn{
    padding:5px 15px;
}
.home_image_det h3{
    font-size:24px;
    color:#41506d;
    font-weight:bold;
}
@media (max-width:992px){
    .home_img{
        width:100%;
        height:70vw;
    }
}
.color_blue{
    color:#41506d;
}
.params_containers{
    color:#7f7f7f;
    padding:20px 0;
    font-size:18px;
}
.containers_one{
    margin:15px 0;
}
.container_info{
    background:white;
    padding:30px;
}
.container_info h3{
    font-weight:bold;
    font-size:22px;
    margin:0;    
}
.container_info h4.cont_time{
    font-size:16px;
    font-weight:normal;
    color:#7f7f7f;
}
.container_info .cont_image{
    width:100%;
    height:calc((var(--container-width)/2 - 60px)/3);
}
.container_info .cont_pref{
    text-align:center;
}
.container_info .cont_pref img{
    width:20%;
    margin:0 1%;
}
.p_cont{
    font-size:14px;
    color:black;
    margin-bottom:12px;
}
.price_cont{
    margin-bottom:5px;
    font-size:16px;
    font-weight:bold;
    color:#41506d;
}
.container_info .ysb_btn{
    padding:5px 20px;
}
.main_cont_info{
    margin-top:20px;
}

.map{
    
    position:relative;   
    
}
.map>*{
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    display:block;
}
@media (max-width:992px){
    .container_info h3,.container_info h4{
        text-align:center;
    }
    .container_info .cont_image{
        height:calc(var(--container-width)/2);
    }
    .container_info{
        text-align:center;
    }
    .container_info .cont_pref img{
        width:7%;
        margin:0 1%;
    }
    .map{        
        height:40vh;
        width:calc(var(--container-width));
    }
    .p_cont{
        font-size:18px;
    }    
}
.article{
    font-size:14px;
}
.article p{
    font-size:14px;
    margin-bottom:20px;
}
.article h3{
    font-size:22px;
    margin-bottom:20px;
    color:#41506d;
}
.article ul{
    list-style-type:none;
}
.article ul li{
    position:relative;
    margin-bottom:20px;
}
.article ul li:before{
    position:absolute;
    content:'';
    width:15px;
    height:15px;
    background:#f05824;
    border-radius:100%;
    left: -30px;
    top:0;
}
.article ol li{
    margin-bottom:20px;
}
.article_image{
    width:100%;
    height:calc((var(--container-width)/3 - 30px)/1.4);
    margin-bottom:40px;
}
@media (max-width:992px){
    .article_image{
        width:100%;
        height:calc((var(--container-width) - 30px)/1.4)!important;
        margin-bottom:0;
    }
    .article-slider{
        margin-top:20px;
    }
}
.slick-prev.inside{
    left:15px;
    top:40%;
    background:rgba(212,214,217,0.6);    
}
.slick-next.inside{
    right:15px;
    top:40%;
    background:rgba(212,214,217,0.6);    
}
.slick-dots{
    list-style-type:none;
    text-align:center;
    padding:0;
    margin:0;
    margin-top:10px;
}
.slick-dots li{
    display:inline-block;
    margin:5px;
}
.slick-dots li.slick-active button{
    background:#f05824;
}
.slick-dots li button{
    color:rgba(0,0,0,0);
    padding:0;
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:100%;
    background:none;
    border:2px solid #f05824;
    outline:none;
    
}
.article_buttons{
    text-align:center;
}
.article_buttons .ysb_btn{
    width:200px;
    margin:0 10px;
    font-size:18px;
}
.ysb_blue{
    background:#41506d;
    border-bottom:2px solid #2e384a;
}
.article_big_image{
    width:100%;
    height:calc((var(--container-width) - 30px)/2);
}
.thank{
    padding-top:80px;
    text-align:center;    
}
.thank h2{
    font-size:30px;
    font-weight:bold;
    color:#3ea11f;
}
.thank img{
    width:50px;
    margin-top:30px;
}
.about_info{
    font-weight:600;
}
.about_slider_image{
    width:100%;
    height:calc((var(--container-width)/2 -30px)/1.5)!important;
}
.about_box_slide{
    margin:0 15px;
}
.about_box_slide h3{
    text-align:center;
    font-size:20px;
    margin-top:20px;
}
.about_box_image{
    width:100%;    
    height:calc(((var(--container-width)*3/4 -30px)/3 - 30px)/1.25);
}